{% extends "partials/crm.html.twig" %}

{% block title %}{% trans %}List of managers{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_manager_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Managers{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}{% trans %}List{% endtrans %}{% endblock %}

{% block content %}
    <div class="row mb-2">
        <div class="col-sm-4">
            <a href="{{ url('crm_manager_create') }}" class="btn btn-info mb-2"><i class="fas fa-plus"></i> {% trans %}Add{% endtrans %}</a>
        </div>
    </div>
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% trans %}List of managers{% endtrans %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for manager in managers %}
                        <tr>
                            <td>
                                {% if manager.portrait is empty %}
                                    <i class="fas fa-user-circle"></i>
                                {% else %}
                                    <img src="{{  manager.portrait }}" alt="portrait" />
                                {% endif %}
                            </td>
                            <td>{{ manager.name }}</td>
                            <td>{{ manager.surname }}</td>
                            <td>{{ manager.nif }}</td>
                            <td>{{ manager.emailAddress }}</td>
                            <td>{{ manager.birthday is empty ? "" : manager.birthday|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ url('crm_manager_view', {'nif': manager.nif}) }}" class="btn btn-info mb-2"><i class="fas fa-eye"></i> {% trans %}View{% endtrans %}</a>
                                <a href="{{ url('crm_manager_edit', {'nif': manager.nif}) }}" class="btn btn-info mb-2"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">{% trans %}Empty list{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}