{% extends "partials/crm.html.twig" %}

{% block title %}{% trans %}Add a new customer{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_customer_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Customers{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}{% trans %}Add{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">{% trans %}Add a new customer{% endtrans %}</h4>

                    <div class="row">

                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <form method="post" action="{{ url('crm_customer_create_post') }}" autocomplete="off">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('customer_create') }}" >
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="nif">{% trans %}Nif{% endtrans %}</label>
                                        <input type="text" id="nif" class="form-control" name="nif" required autofocus>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="email_address">{% trans %}Email address{% endtrans %}</label>
                                        <input class="form-control" id="email_address" type="email" name="email_address" required>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="name">{% trans %}Name{% endtrans %}</label>
                                        <input type="text" id="name" class="form-control" name="name">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="surname">{% trans %}Surname{% endtrans %}</label>
                                        <input type="text" id="surname" class="form-control" name="surname">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="birthday">{% trans %}Birthday{% endtrans %}</label>
                                        <input class="form-control" id="birthday" type="date" name="birthday">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="portrait">{% trans %}Portrait{% endtrans %}</label>
                                        <input class="form-control" id="portrait" type="text" name="portrait">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="password">{% trans %}Password{% endtrans %}</label>
                                        <input type="password" name="password" id="password" class="form-control" placeholder="{% trans %}Password{% endtrans %}" maxlength="50" autocomplete="new-password" required >
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="confirm_password">{% trans %}Confirm password{% endtrans %}</label>
                                        <input type="password" id="confirm_password" class="form-control" placeholder="{% trans %}Confirm password{% endtrans %}" maxlength="50" required>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">{% trans %}Create{% endtrans %}</button>
                                <a href="{{ url('crm_customer_list') }}"><button type="button" class="btn btn-danger">{% trans %}Cancel{% endtrans %}</button></a>
                            </form>
                        </div> <!-- end col -->
                    </div>

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div>
{% endblock %}