{% extends "partials/crm.html.twig" %}

{% block title %}{% trans %}List of customers{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_customer_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Customers{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}{% trans %}List{% endtrans %}{% endblock %}

{% block content %}
    <div class="row mb-2">
        <div class="col-sm-4">
            <a href="{{ url('crm_customer_create') }}" class="btn btn-info mb-2"><i class="fas fa-plus"></i> {% trans %}Add{% endtrans %}</a>
        </div>
    </div>
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% trans %}List of customers{% endtrans %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>
                                {% if customer.portrait is empty %}
                                    <i class="fas fa-user-circle"></i>
                                {% else %}
                                    <img src="{{  customer.portrait }}" alt="portrait" class="rounded-circle img-thumbnail portrait" />
                                {% endif %}
                            </td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.surname }}</td>
                            <td>{{ customer.nif }}</td>
                            <td>{{ customer.emailAddress }}</td>
                            <td>{{ customer.birthday is empty ? "" : customer.birthday|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ url('crm_customer_view', {'nif': customer.nif}) }}" class="btn btn-info mb-2"><i class="fas fa-eye"></i> {% trans %}View{% endtrans %}</a>
                                <a href="{{ url('crm_customer_edit', {'nif': customer.nif}) }}" class="btn btn-info mb-2"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">{% trans %}Empty list{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}