{% extends "partials/crm.html.twig" %}

{% block title %}{% trans %}List of customers{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_customer_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Customers{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}List{% endblock %}

{% block content %}
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% trans %}List of customers{% endtrans %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>
                                {% if customer.portrait is empty %}
                                    <i class="fas fa-user-circle"></i>
                                {% else %}
                                    <img src="{{  customer.portrait }}" alt="portrait" />
                                {% endif %}
                            </td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.surname }}</td>
                            <td>{{ customer.nif }}</td>
                            <td>{{ customer.emailAddress }}</td>
                            <td>{{ customer.birthday is empty ? "" : customer.birthday|date('d/m/Y') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{% trans %}Empty list{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}