{% extends "partials/crm.html.twig" %}

{% block title %}{% trans with {'%name%': customer.name} from 'app' %}View customer %name%{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_customer_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Customers{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}{{ customer.fullName }}{% endblock %}

{% block content %}
    <div class="card d-block">
        <div class="card-body">
            <div class="dropdown float-right">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="dripicons-dots-3"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="">
                    <!-- item-->
                    <a href="{{ url('crm_customer_edit', {'nif': customer.nif})}}" class="dropdown-item"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                    <!-- item-->
                    <a href="{{ url('crm_customer_delete', {'nif': customer.nif}) }}" data-toggle="modal" data-target="#removeElementModal" class="dropdown-item"><i class="fas fa-trash"></i> {% trans %}Remove{% endtrans %}</a>
                </div>
            </div>
            <span class="float-left m-2 mr-4">
                {% if customer.portrait is empty %}
                    <i class="fas fa-user-circle"></i>
                {% else %}
                    <img src="{{  customer.portrait }}" alt="portrait" class="rounded-circle img-thumbnail portrait" />
                {% endif %}
            </span>

            <h3 class="mt-0">
                {{ customer.fullName }}
            </h3>
            <div class="badge badge-secondary mb-3">{% trans %}Customer{% endtrans %}</div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-4">
                        <h5>{% trans %}Name{% endtrans %}</h5>
                        <p>{{ customer.name }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <h5>{% trans %}Surname{% endtrans %}</h5>
                        <p>{{ customer.surname }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <h5>{% trans %}Nif{% endtrans %}</h5>
                        <p>{{ customer.nif }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <h5>{% trans %}Email address{% endtrans %}</h5>
                        <p>{{ customer.emailAddress }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <h5>{% trans %}Birthday{% endtrans %}</h5>
                        <p>{{ customer.birthday is empty ? "" : customer.birthday|date('d/m/Y')}}</p>
                    </div>
                </div>
            </div>

        </div> <!-- end card-body-->

    </div>
{% endblock %}