{% extends "partials/crm.html.twig" %}

{% block title %}{% trans %}Link to an activity{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_familiar_view', {'nif': familiar.nif}) }}{% endblock %}
{% block breadcrumb_parent_name %}{{ familiar.fullName }}{% endblock %}
{% block breadcrumb_section_name %}{% trans %}Link to an activity{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">{% trans %}Link to an activity{% endtrans %}</h4>

                    <div class="row">

                        {% for message in app.flashes({'csrf':'error._csrf_token', 'familiar':'error.familiar'})|flatten %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <div class="col-lg-12">
                            <form method="post" autocomplete="off">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('familiar-link-activity') }}" >

                                <div class="form-group">
                                    <label for="activity">{% trans %}Activity{% endtrans %}</label>
                                    <select name="activity" id="activity" class="form-control selectpicker"  data-live-search="true">
                                        {% for activity in activities %}
                                            <option value="{{ activity.id }}">{{ activity.name }}</option>
                                        {% endfor %}
                                    </select>
                                    {% for message in app.flashes('error.activity') %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>

                                <button type="submit" class="btn btn-primary">{% trans %}Link{% endtrans %}</button>
                                <a href="{{ url('crm_familiar_view', {'nif': familiar.nif}) }}"><button type="button" class="btn btn-danger">{% trans %}Cancel{% endtrans %}</button></a>
                            </form>
                        </div> <!-- end col -->
                    </div>

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div><!-- end col -->
    </div>
{% endblock %}