{% extends "partials/landing.html.twig" %}

{% block title %}{% trans %}Choose namespace{% endtrans %}{% endblock %}
{% block content %}
    {% for message in app.flashes('error._csrf_token') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">{% trans %}Connect to a namespace{% endtrans %}</div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <div class="form-label-group">
                        <input name="namespace" type="text" id="namespace" class="form-control" placeholder="{% trans %}Namespace{% endtrans %}" value="{{ app.flashes('input.namespace')|toString }}" required autofocus>
                        <label for="namespace">{% trans %}Namespace{% endtrans %}</label>
                    </div>
                    {% for message in app.flashes('error.namespace') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('sign-in') }}" >
                <button class="btn btn-primary btn-block" type="submit">
                    {% trans %}Continue{% endtrans %}
                </button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="{{ path('register') }}">{% trans %}Register an Account{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}