{% extends "partials/crm.html.twig" %}

{% block title %}{% trans %}List of activities{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_activity_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Activities{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}{% trans %}List{% endtrans %}{% endblock %}

{% block content %}
    <div class="row mb-2">
        <div class="col-sm-4">
            <a href="{{ url('crm_activity_create') }}" class="btn btn-info mb-2"><i class="fas fa-plus"></i> {% trans %}Add{% endtrans %}</a>
        </div>
    </div>
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% trans %}List of activities{% endtrans %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>{% trans %}Id{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Start at{% endtrans %}</th>
                            <th>{% trans %}Finish at{% endtrans %}</th>
                            <th>{% trans %}Category{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>{% trans %}Id{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Start at{% endtrans %}</th>
                            <th>{% trans %}Finish at{% endtrans %}</th>
                            <th>{% trans %}Category{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.id }}</td>
                            <td>{{ activity.name }}</td>
                            <td>{{ activity.startAt|date('d/m/Y') }}</td>
                            <td>{{ activity.finishAt|date('d/m/Y') }}</td>
                            <td>{{ activity.category.name }}</td>
                            <td>
                                <a href="{{ url('crm_activity_edit', {'id': activity.id}) }}" class="btn btn-info mb-2"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                                <a href="{{ url('crm_activity_delete', {'id': activity.id}) }}" data-toggle="modal" data-target="#removeElementModal" class="btn btn-danger mb-2"><i class="fas fa-trash"></i> {% trans %}Remove{% endtrans %}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{% trans %}Empty list{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}