{% extends "partials/crm.html.twig" %}

{% block title %}{% trans %}List of familiars{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_familiar_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Familiars{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}{% trans %}List{% endtrans %}{% endblock %}

{% block content %}
    {% if is_granted('ROLE_WORKER') %}
    <div class="row mb-2">
        <div class="col-sm-4">
            <a href="{{ url('crm_familiar_create') }}" class="btn btn-info mb-2"><i class="fas fa-plus"></i> {% trans %}Add{% endtrans %}</a>
        </div>
    </div>
    {% endif %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            {% trans %}List of familiars{% endtrans %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th class="no-sort">{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>{% trans %}Portrait{% endtrans %}</th>
                            <th>{% trans %}Name{% endtrans %}</th>
                            <th>{% trans %}Surname{% endtrans %}</th>
                            <th>{% trans %}NIF{% endtrans %}</th>
                            <th>{% trans %}Birthday{% endtrans %}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for familiar in familiars %}
                        <tr>
                            <td>
                                {% if familiar.portrait is empty %}
                                    <i class="fas fa-user-circle"></i>
                                {% else %}
                                    <img src="{{  familiar.portrait }}" alt="portrait" class="rounded-circle img-thumbnail portrait" />
                                {% endif %}
                            </td>
                            <td>{{ familiar.name }}</td>
                            <td>{{ familiar.surname }}</td>
                            <td>{{ familiar.nif }}</td>
                            <td>{{ familiar.birthday is empty ? "" : familiar.birthday|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ url('crm_familiar_view', {'nif': familiar.nif}) }}" class="btn btn-info mb-2"><i class="fas fa-eye"></i> {% trans %}View{% endtrans %}</a>
                                <a href="{{ url('crm_familiar_edit', {'nif': familiar.nif}) }}" class="btn btn-info mb-2"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                                <a href="{{ url('crm_familiar_delete', {'nif': familiar.nif}) }}" data-toggle="modal" data-target="#removeElementModal" class="btn btn-danger mb-2"><i class="fas fa-trash"></i> {% trans %}Remove{% endtrans %}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">{% trans %}Empty list{% endtrans %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}