{% extends "partials/crm.html.twig" %}

{% block title %}{% trans with {'%name%': familiar.name} from 'app' %}View familiar %name%{% endtrans %}{% endblock %}

{% block breadcrumb_parent_url %}{{ url('crm_familiar_list') }}{% endblock %}
{% block breadcrumb_parent_name %}{% trans %}Familiars{% endtrans %}{% endblock %}
{% block breadcrumb_section_name %}{{ familiar.fullName }}{% endblock %}

{% block content %}

    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="mb-3">
        <a href="{{ url('crm_familiar_send_email', {'nif': familiar.nif}) }}">
            <button type="button" class="btn btn-info btn-lg"><i class="fas fa-envelope"></i> {% trans %}Send email{% endtrans %}</button>
        </a>
        <a href="{{ url('crm_familiar_link_activity', {'nif': familiar.nif}) }}">
            <button type="button" class="btn btn-danger btn-lg"><i class="fas fa-hiking"></i> {% trans %}Add to activity{% endtrans %}</button>
        </a>
        <a href="{{ url('crm_familiar_add_note', {'nif': familiar.nif}) }}">
            <button type="button" class="btn btn-warning btn-lg"><i class="fas fa-sticky-note"></i> {% trans %}Add a note{% endtrans %}</button>
        </a>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="dripicons-dots-3"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="">
                            <!-- item-->
                            <a href="{{ url('crm_familiar_edit', {'nif': familiar.nif})}}" class="dropdown-item"><i class="fas fa-edit"></i> {% trans %}Edit{% endtrans %}</a>
                            <!-- item-->
                            <a href="#" data-toggle="modal" data-target="#removeElementModal" class="dropdown-item"><i class="fas fa-trash"></i> {% trans %}Remove{% endtrans %}</a>
                        </div>
                    </div>
                    <span>
                        {% if familiar.portrait is empty %}
                            <i class="fas fa-user-circle"></i>
                        {% else %}
                            <img src="{{  familiar.portrait }}" alt="portrait" class="rounded-circle img-thumbnail avatar-lg portrait" />
                        {% endif %}
                    </span>

                    <h4 class="mb-0 mt-2">
                        {{ familiar.fullName }}
                    </h4>
                    <p class="text-muted font-14">{% trans %}Familiar{% endtrans %}</p>

                    <div class="text-left mt-3">
                        <h4 class="font-13 text-uppercase">{% trans %}Name{% endtrans %}</h4>
                        <p class="text-muted font-13 mb-3">{{ familiar.name }}</p>

                        <h4 class="font-13 text-uppercase">{% trans %}Surname{% endtrans %}</h4>
                        <p class="text-muted font-13 mb-3">{{ familiar.surname }}</p>

                        <h4 class="font-13 text-uppercase">{% trans %}Nif{% endtrans %}</h4>
                        <p class="text-muted font-13 mb-3">{{ familiar.nif }}</p>

                        <h4 class="font-13 text-uppercase">{% trans %}Birthday{% endtrans %}</h4>
                        <p class="text-muted font-13 mb-3">{{ familiar.birthday is empty ? "" : familiar.birthday|date('d/m/Y')}}</p>
                    </div>

                </div> <!-- end card-body-->
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">

            <div class="card">
                <div class="card-body">
                    <ul class="timeline">

                        {% for item in timeline %}
                            {% if item is instanceof('App\\Domain\\Familiar\\Action\\Email') %}
                                {{ include('pages/crm/familiar/timeline/email.html.twig') }}
                            {% elseif item is instanceof('App\\Domain\\Familiar\\Action\\Note') %}
                                {{ include('pages/crm/familiar/timeline/note.html.twig') }}
                            {% elseif item is instanceof('App\\Domain\\Familiar\\Action\\LinkActivity') %}
                                {{ include('pages/crm/familiar/timeline/link-activity.html.twig') }}
                            {% endif %}
                        {% endfor %}

                    </ul>

                </div> <!-- end card body -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeElementModal" tabindex="-1" role="dialog" aria-labelledby="removeElementModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans %}Are you sure?{% endtrans %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{% trans %}Select "Remove" below if you are ready to delete the familiar.{% endtrans %}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <a class="btn btn-danger" href="{{ url('crm_familiar_delete', {'nif': familiar.nif}) }}">{% trans %}Remove{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}